*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    width: 50%;
    height: 50%;
    background-color: rgb(37, 36, 36);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}